{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}
{% block navbar %}{% endblock navbar %}
{% block footer %}{% endblock footer %}
{% block content %}
<div class="container justify-center">

  {% if request.user.is_authenticated %}
    <h3>Ação não permitida!</h3>
    <p class="lead text-bold"> 
      Houve algum problema para processar a ação desejada ou você não tem permissão.</p>
    <a href="{% url 'index' %}" class="btn"> Voltar Ao Início</a>

  {% else %}
    <div class="login-container center-element">
      <div class="login-form">
        <a class="login-title center-element h1" href="{% url 'index' %}">
          <img src="{% static 'img/logo.png' %}" alt="logo">
          HEALING
        </a>
        <hr>
        <div class="h2 mb-4">LOGIN</div>
        
        <form action="" method="post">
          {% csrf_token %}{{form|crispy}}
          <button class="btn btn-login justify-center" type="submit"><div class="fs-4">ENTRAR</div></button>
        </form>
        <div class="login-link justify-center">
          Não possui conta? <a class="ps-1" href="{% url "register" %}">Cadastre-se!</a>
        </div>
      </div>
      
      <div class="hidden-mobile img-brand center-element">
        <img src="{% static 'img/ilustration.png' %}" alt="dumb-cat">
      </div>
    </div>

  {% endif %}
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/show-password.js' %}"></script>
{% endblock script %}