{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Cadastro Hórario{% endblock title %}
{% block content %}
<div class="container ">
  {% if messages %}
    {% for msg in messages %}
    <div class="alert {{msg.tags}} alert-dismissible alert-bg fade show mt-3" role="alert">
      {{msg}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
  
  <div class="content-container">
    {% if doctor %}
      <div class="medic-card">
        <div class="row">
          <div class="col-3 d-flex justify-content-center">
            <img class="profile-pic" src="{{doctor.profile_pic.url}}" alt="{{doctor.profile_pic.url}}">
          </div>
          <div class="col-9">
            <div class="fs-4 ms">
              {% if doctor.gender == 'fem' %}Dra.{% endif %}
              {% if doctor.gender == 'masc' %}Dr.{% endif %}
              {% if doctor.gender == 'nb' %}Dre.{% endif %}
              {% if doctor.gender == 'none' %}{% endif %}
              {{doctor.name}} 
              <i class="bi bi-patch-check-fill text-info h4 mt-1 ms-2"></i>
            </div> 
            <div class="d-inline-block align-items-center ">
              <div class="speciality-tag"> {% if doctor.speciality %}{{doctor.speciality}}{% else %}Sem Especialidade{% endif %}</div> <i class="bi bi-quote fs-3 mb-2"></i><cite>{{doctor.description}}</cite>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <hr>
    <h3>Escolha um horária para sua consulta</h2>
    <div class="">
      {% for date in open_dates %}
      <div class="date-card">
        <a href="{% url 'create-appointment' date.pk %}">
          <div class="date-card-title">
            <div class="d-flex align-items-center ">
              <div class="me-auto">
                {{date.date|date:"l"}}
              </div>
              <div class="">
                {{date.date|date:"F"}}
              </div>
            </div>
          </div>
          <div class="date-card-body">
            {{date.date|date}}, {{date.date|time}}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

  </div>

</div>
{% endblock %}