{% load static %}
<nav class="navbar navbar-expand-lg navbar-bg">
  <div class="container-fluid container align-center">
    <div class="align-center me-auto">
      <a class="navbar-brand center-element" href="{% url 'index' %}">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="brand-logo">
        <div class="brand-title">HEALING</div>
      </a>
      
      <button type="button" class="nav-link fw-semibold  mx-3" data-bs-toggle="modal" data-bs-target="#explore-modal">
      Explorar
      </button>
    </div>

    <span class="me-3 fw-semibold ">{{request.user}}</span>
    <a href="{% url 'logout' %}" class="nav-link">Sair</a>
    
  </div>
</nav>