{% extends "base.html" %}
{% load static %}
{% block title %}Minhas Consultas{% endblock title %}
{% block content %}
<div class="container ">
  
  {% include 'partials/messages.html' %}

  <div class="content-container">
    <h1>Minhas Consultas</h1>
    Busque por médicos e <a href="{% url 'index' %}" class="">agende novos consultas.</a> 
    <hr>
    <div class="">
      <form action="{% url 'appointment-list' %}" method="get" >
        <input class="form-control my-2" type="text" name="search" value="{{search}}" id="id_search" placeholder="Buscar Médicos . . .">
        <div class="d-flex align-items-center ">
          <input class="form-control w-75 my-2" type="date" name="date" value="{{date}}" id="id_date" placeholder="Data da Consulta" >
          <button type="submit" class="btn w-25 h-50 mx-auto ">Filtrar</button>
        </form>
        <form action="?"><button class="btn" type="submit">Limpar</button> </form>
        
      </div>
    </div>
    <hr>
    <div class="appointment-list">
      <table class="">
        <thead class="text-uppercase ">
          <tr>
            <th></th>
            <th>Médico</th>
            <th>Status</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody class="">
          {% for appointment in appointments %}
            <tr>
              <th>
                <a title="Acessar Consulta" href="{% url 'detail-appointment' appointment.pk %}"><i class="bi bi-search btn"></i></a>
              </th>
                
              <th>{{ appointment.open_date.doctor.name }}</th>
              <th>{{appointment.get_status_display}}</th>
              <th>{{appointment.open_date.date|date}}</th>
            </tr>
  
            {% empty %}
            <tr>
              <th colspan="3">Sem consultas agendadas . . .</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

</div>
{% endblock %}