{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock title %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<div class="container">
  <div class="content-container h-75 accordion center-element">
    <div class="">
        <div class="h1 text-center ">Erro 500</div>
      <div class="h2 text-center ">Tivemos um erro no servidor . . .</div>
      <div class="center-element">
        <img class=" w-50" src="{% static 'img/sad-cat.png' %}" alt="{% static 'img/sad-cat.png' %}" >
      </div>
      <div class="text-center h3  mb-3">Entre em <a target="_blank" href="https://github.com/dvanael/">contato conosco.</a></div>
      <div class="text-center h3 ">Volte para o <a href="{% url 'index' %}">início.</a></div>
    </div>

  </div>
</div>
{% endblock %}