{% extends "base.html" %}
{% load static %}
{% block title %}Consultas Agendadas{% endblock title %}
{% block content %}
<div class="container ">

  {% include 'partials/messages.html' %}
  
  <div class="content-container">
    <h1>Minhas Consultas</h1>
    <div class="">
      <form action="{% url 'medic-appointment-list' %}" method="get" >
        <input class="form-control my-2" type="text" name="search" value="{{search}}" id="id_search" placeholder="Buscar Pacientes . . .">
        <div class="d-flex align-items-center ">
          <input class="form-control w-75 my-2" type="date" name="date" value="{{date}}" id="id_date" placeholder="Data da Consulta" >
          <button type="submit" class="btn w-25 h-50 mx-auto ">Filtrar</button>
        </form>
        <form action="?"><button class="btn" type="submit">Limpar</button> </form>

      </div>
    </div>
    
    <hr>

    <h2>Hoje</h2>
    <div class="appointment-list">
      <table class="">
        <thead class="text-uppercase text-center ">
          <tr>
            <th></th>
            <th>Paciente</th>
            <th>Status</th>
            <th>Horário</th>
          </tr>
        </thead>
        <tbody class=" text-center">
          {% for appointment in today %}
              <tr>
                <th>
                  <a title="Acessar Consulta" href="{% url 'medic-detail-appointment' appointment.pk %}"><i class="bi bi-search btn"></i></a>
                </th>
                <th>{{appointment.patient.get_full_name}}</th>
                <th>{{appointment.get_status_display}}</th>
                <th>{{appointment.open_date.date|time}}</th>
              </tr>
              {%empty%}
              <tr>
                <th  colspan='5'>Sem consultas hoje . . .</th>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <hr>
    <h2>Todas</h2>
    <div class="appointment-list">
      <table class="">
        <thead class="text-uppercase text-center ">
          <tr>
            <th></th>
            <th>Paciente</th>
            <th>Status</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for appointment in appointments %}
              <tr>
                <th>
                  <a title="Acessar Consulta" href="{% url 'medic-detail-appointment' appointment.pk %}"><i class="bi bi-search btn"></i></a>
                </th>
                <th>{{ appointment.patient.get_full_name }}</th>
                <th>{{appointment.get_status_display}}</th>
                <th>{{appointment.open_date.date|date}}</th>
              </tr>
              {%empty%}
              <tr>
                <th  colspan='4'>Sem consultas agendadas . . .</th>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr>
  </div>

</div>
{% endblock %}